{% extends '../templates/base.html' %}
{% block title %}
    {{ recette.nomRecette }}
{% endblock %}

{% block titlePage %}
    {{ recette.nomRecette }}
{% endblock %}

{% block content %}
<div class="m-2 pt-2">
    <!-- affiche les ingrédients -->
    <div class="row">
        <h2>Ingrédients</h2>
        <table class="table">
        {% for ingredient in recette.ingredients %}
            <tr>
                <td>{{ ingredient }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <!-- affiche les étapes de préparation -->
    <div class="row">
        <h2>Préparation</h2>
        <ol>
        {% for preparation in recette.etapePreparation %}
            <li>{{ preparation.etape }}</li>
        {% endfor %}
        </ol>   
    </div>
</div>

{% endblock %}