{% extends '../templates/base.html' %}
{% block title %}
    Recettes
{% endblock %}

{% block titlePage %}
        Recettes
{% endblock %}

{% block content %}
    <!-- TODO: barre de recherche -->
    <div class="">
        <!-- Very important Cross-site Request Forgery Token -->
        {% csrf_token %}
        <form action="" method="get">
            <div class="form-group row">
                <input class="form-control col-9 ml-5" type="search" name="search">
                <button class="btn btn-secondary col-1" type="submit"><i class="fa fa-search"></i></button>
            </div>    
        </form>
    </div>

    <!-- affiche les noms de recettes -->
    <div class="row m-3">
        <ul style="list-style-type:none;">
            {% for recette in recettes %}
            <li>
                <a href="{% url 'recette' %}?id={{ recette.id }}">{{ recette }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}